*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.custome-navBar-component{

    display: flex;
    flex-direction:row;

}

.custome-top-bar-component{
    
    display: flex;
    flex-direction:row;
}